@model IEnumerable<Job_websit.Models.ApplyForJob>
@{
    ViewBag.Title = "Getjob";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div style=" padding:50px">
    <table class="table">


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.job.JopTitle)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.job.JopTitle)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="~/UploadsCv/@item.Cv" style="font-family: Cairo, sans-serif;">Cv</a>
                    @*@Html.DisplayFor(modelItem => item.Cv)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyDate)
                </td>
                <td>

                    @Html.ActionLink("Details", "Detailsofjob", new { id = item.Id })|
                    @Html.ActionLink("Delete", "Deleteofjob", new { id = item.Id })
                </td>
            </tr>

        }

    </table>
</div>