@model Job_websit.Models.Job

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div style=" padding:90px">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Job</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JopTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JopTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobContent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JopImage)
            </dt>

            <dd>
                <img src="~/Uploads/@Html.DisplayFor(model => Model.JopImage)" class="thumbnail" style="width:48px; height:48px;" />

            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>