@model Job_websit.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Details</h1>
<div style=" padding:90px">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JopTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JopTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobContent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JopImage)
            </dt>

            <dd>
                <img src="~/Uploads/@Html.DisplayFor(model => model.JopImage)" class="thumbnail" style="width:48px; height:48px;" />

            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>