@model IEnumerable<Job_websit.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div style=" padding:70px">
  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JopTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JopImage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JopTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobContent)
                </td>
                <td>
                    <img src="~/Uploads/@Html.DisplayFor(modelItem => item.JopImage)" class="thumbnail" style="width:48px; height:48px;" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>